# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
*.egg
dist/
build/
.eggs/

# Virtual env
.venv/
venv/
env/

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store

# Env (если будут хранить токены в .env)
.env
.env.local

# Testing
.pytest_cache/
.coverage
htmlcov/

# PyPI
.pypirc
